@{
    ViewBag.Title = "Лучшая бургерная в России";
}

<div class="container px-4 py-5" id="featured-3">
    <h2 class="pb-2 border-bottom">Doolde's Burgers</h2>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">

        <div class="feature col">
            <div style="width: 4rem;height: 4rem;" class="feature-icon bg-primary bg-white">
                <img style="width: 4rem;height: 4rem;" src="~/wwwroot/img/logoburger.jpg" alt="Burger Icon">
            </div>

            <h2>Всегда рядом</h2>

            <p>Мы распалагаемся в самом сердце России. Добраться до нас всегда легко.</p>
            
            <a href="https://goo.gl/maps/UQTScGkoWYpB8UTc9" target="_blank" class="icon-link">
                Все ещё задаешься вопросом где мы? Посмотри!
                <svg class="bi" width="1em" height="1em"><use xlink:href="#chevron-right"></use></svg>
            </a>

        </div>

        <div class="feature col">
            <div style="width: 4rem;height: 4rem;" class="feature-icon bg-primary bg-gradient">
                <img style="width: 4rem;height: 4rem;" src="~/wwwroot/img/logoburger.jpg" alt="Burger Icon">
            </div>

            <h2>Всегда рядом</h2>

            <p>Мы распалагаемся в самом сердце России. Добраться до нас всегда легко.</p>

            <a href="https://goo.gl/maps/UQTScGkoWYpB8UTc9" target="_blank" class="icon-link">
                Все ещё задаешься вопросом где мы? Посмотри!
                <svg class="bi" width="1em" height="1em"><use xlink:href="#chevron-right"></use></svg>
            </a>

        </div>

        <div class="feature col">
            <div style="width: 4rem;height: 4rem;" class="feature-icon bg-primary bg-gradient">
                <img style="width: 4rem;height: 4rem;" src="~/wwwroot/img/logoburger.jpg" alt="Burger Icon">
            </div>

            <h2>Всегда рядом</h2>

            <p>Мы распалагаемся в самом сердце России. Добраться до нас всегда легко.</p>

            <a href="https://goo.gl/maps/UQTScGkoWYpB8UTc9" target="_blank" class="icon-link">
                Все ещё задаешься вопросом где мы? Посмотри!
                <svg class="bi" width="1em" height="1em"><use xlink:href="#chevron-right"></use></svg>
            </a>

        </div>

    </div>
</div>